<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="../files/assets/images/Dolphinlogo.png" type="image/png" />
    <!--plugins-->
    <link href=".../assets33/plugins/notifications/css/lobibox.min.css" rel="stylesheet" />
    <link href="../assets33/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <link href="../assets33/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="../assets33/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="../assets33/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="../assets33/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <!-- loader-->
    @*<link href="../assets33/css/pace.min.css" rel="stylesheet" />*@
    <script src="../assets33/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../assets33/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets33/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="../assets33/css/app.css" rel="stylesheet">
    <link href="../assets33/css/icons.css" rel="stylesheet">
    <!-- Theme Style CSS -->
    <link rel="stylesheet" href="../assets33/css/dark-theme.css" />
    <link rel="stylesheet" href="../assets33/css/semi-dark.css" />
    <link rel="stylesheet" href="../assets33/css/header-colors.css" />
    <title>Affiliate Dashboard</title>

    <style>
        #profileImage {
             font-family: Arial, Helvetica, sans-serif;
             width: 3rem;
             height: 3rem;
             border-radius: 50%;
             background: #000000;
             font-size: 20px;
             color:#fdea95;
             text-align: center;
             line-height: 3rem;
             margin: 2rem 0;
        }
    </style>
</head>
<!-- Menu horizontal static layout -->



<body >

    <!--wrapper-->
    <div class="wrapper">
        <!--sidebar wrapper -->
        <div class="sidebar-wrapper" data-simplebar="true">
         
                <div class="sidebar-header" style="background-color:#000;">
                    <div>
                        @*<img src="/assets/img/dolphin.png" class="logo-icon" alt="logo icon">*@
                        <img src="~/assets/img/logo.png" class="logo-icon" alt="logo icon"/>
                        </div>
                    <div>
                        <h4 class="logo-text" style="font-size: 18px;">ABdolphin Infra</h4>
                    </div>
                    <div class="toggle-icon ms-auto">
                        <i class='bx bx-arrow-back'></i>
                    </div>
                </div>
            
            <ul class="metismenu" id="menu">
                <li >
                    <a href="/AssociateDashboard/AssociateDashBoard" class="has-arrow">
                        <div class="parent-icon">
                            <i class='bx bx-home'></i>
                        </div>
                        <div class="menu-title">DashBoard</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow">
                        <div class="parent-icon">
                            <i class='lni lni-network'></i>
                        </div>
                        <div class="menu-title">Tree</div>
                    </a>
                        <ul >
                            <li>
                                <a href="/AssociateDashboard/Tree"><i class='bx bx-category'></i>Level Tree</a>
                            </li>
                            <li>
                                <a href="/AssociateDashboard/AssociateTree"><i class='bx bx-category'></i>Down Team Tree</a>
                            </li>
                              
                        </ul>
                </li>
                <li>
                    <a href="/AssociateDashboard/ChangePasswordAssociate">
                        <div class="parent-icon">
                            <i class='bx bxs-key'></i>
                        </div>
                        <div class="menu-title">Change Password</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow">
                        <div class="parent-icon">
                            <i class='bx bx-gift'></i>
                        </div>
                        <div class="menu-title">Rewards</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/AssociateDashboard/UserReward"><i class='bx bx-category'></i>User Rewards</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#" class="has-arrow">
                        <div class="parent-icon">
                            <i class='bx bx-wallet-alt'></i>
                        </div>
                        <div class="menu-title">Payout</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/AssociateDashboard/PayoutRequest"><i class='bx bx-category'></i>Payout Request</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/PayoutLedger"><i class='bx bx-category'></i>Payout Ledger</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/PayoutDetails"><i class='bx bx-category'></i>Payout Details</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/AssociateDashboard/KYCDocuments">
                        <div class="parent-icon">
                            <i class='bx bx-food-menu'></i>
                        </div>
                        <div class="menu-title">Upload KYC</div>
                    </a>
                </li>
                <li>
                    <a href="/AssociateDashboard/VisitorListForAssociate">
                        <div class="parent-icon">
                            <i class='bx bx-receipt'></i>
                        </div>
                        <div class="menu-title">Visitor List</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="has-arrow">
                        <div class="parent-icon">
                            <i class='bx bx-briefcase'></i>
                        </div>
                        <div class="menu-title">Reports</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/AssociateDashboard/AssociateBookingList"><i class='bx bx-category'></i>Plot Bookings</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/PlotAvailability"><i class='bx bx-category'></i>Plot Availability</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/CustomerLedgerReport"><i class='bx bx-category'></i>Ledger</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/AdvancePaymentList"><i class='bx bx-category'></i>Advance Payment List</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/AssociateDownlineDetail"><i class='bx bx-category'></i>Associate Downline</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/UnpaidIncome"><i class='bx bx-category'></i>Unpaid Income</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/PayoutRequestReport"><i class='bx bx-category'></i>Payout Request List</a>
                        </li>
                        <li>
                            <a href="/User/SummaryReport"><i class='bx bx-category'></i>Summary Report</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/BusinessDevelopmentExpenseMaster_Report"><i class='bx bx-category'></i>Business Development Expense Report</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/AssociateSelfDownlineBusinessReport"><i class='bx bx-category'></i>Self Downline Business Report</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/DownBusinessReport"><i class='bx bx-category'></i>Down Business Report</a>
                        </li>
                        <li>
                            <a href="/AssociateDashboard/BusinessReport"><i class='bx bx-category'></i>Associate Business Report</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="has-arrow">
                        <div class="parent-icon">
                            <i class='bx bx-support'></i>
                        </div>
                        <div class="menu-title">Support</div>
                    </a>
                    <ul>
                        <li>
                            <a href="/AssociateDashboard/EnquiryList"><i class='bx bx-category'></i>Enquiry</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand gap-3">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center gap-1">
                            @if (Session["Pk_AdminId"] != null)
                            {
                                <a href="/Admin/AdminDashBoard" class="btn btn-dark"><i class="bx bx-log-out-circle"></i>Back To Admin</a>
                            }
                            
                        </ul>
                    </div>
                    <div class="user-box dropdown px-3">
                        <a class="d-flex align-items-center nav-link dropdown-toggle gap-3 dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                           
                            
                                <img src="@Session["ProfilePic"]" class="user-img" alt="user avatar">
                           
                            <div class="user-info">
                                <p class="user-name mb-0"><span >@Session["FullName"]</span></p>
                                @if (Session["Status"].ToString() == "Active")
                                {
                                    <p class="designattion mb-0" style="color:#1c8d17">@Session["Status"] </p>
                                }
                                else
                                {
                                    <p class="designattion mb-0" style="color:red">@Session["Status"] </p>
                                }
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/AssociateDashboard/EditProfile"><i class="bx bx-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="/Home/LoginWeb"><i class="bx bx-log-out-circle"></i><span>Logout</span></a>
                            </li>
                        </ul>

                        @*<ul>
                            @if (Session["Pk_AdminId"] != null)
                            {
                                <li id="BtnBackToAdmin" class="pcoded-hasmenu">
                                    <a href="/Admin/AdminDashBoard" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Back To Admin Login</span>
                                    </a>
                                </li>
                            }
                        </ul>*@
                    </div>
                </nav>
            </div>
        </header>
        <!--end header -->
        <!--start page wrapper -->
        <div class="page-wrapper">
            @RenderBody()
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy pt-2"> © Copyright 2022 Abdolphin All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Jquery -->
    <script src="../assets33/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="../assets33/js/jquery.min.js"></script>
    <script src="../assets33/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="../assets33/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="../assets33/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="../assets33/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../assets33/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script src="../assets33/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../assets33/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../assets33/plugins/chartjs/js/chart.js"></script>
    <script src="../assets33/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <!--notification js -->
    <script src="../assets33/plugins/notifications/js/lobibox.min.js"></script>
    <script src="../assets33/plugins/notifications/js/notifications.min.js"></script>
    <script src="../assets33/js/index3.js"></script>
    <script src="~/assets33/plugins/notifications/js/notification-custom-script.js"></script>
    <!--app JS-->
    <script src="../assets33/js/app.js"></script>
    <script>
        $(document).ready(function () {
            /// For DataTable
			var table = $('#example2').DataTable( {
			    lengthChange: false,
			    "pageLength": 50,
				buttons: [ 'copy', 'excel', 'pdf', 'print','csv']
			} );

			table.buttons().container()
				.appendTo('#example2_wrapper .col-md-6:eq(0)');


           
		});
	
    </script>
</body>

</html>
