@model Dolphin.Models.Employee

@{
    ViewBag.Title = "UpdateAdminProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .errortext {
        border: 1px solid red !important;
    }
</style>

@using (Html.BeginForm("UpdateAdminProfile", "Employee", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Update Profile</h5>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["Employee"]
                </p>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">User Type</label>
                            @Html.TextBoxFor(m => m.UserTypeName, new { @class = "form-control", @Placeholder = " Name"  ,@readonly="readonly" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = " Name" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Mobile No.</label>
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Mobile Number", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "10" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Email Id</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Placeholder = "Email" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3">
                            <label class="float-label">Joining  Date</label>
                            @Html.TextBoxFor(m => m.JoiningDate, new { @class = "form-control", @readonly = "readonly" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Salary</label>
                            @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", @onkeypress = "return isNumberOrDecimal(event);", @maxlength = "15" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="float-label d-block">&nbsp;</label>
                            <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnSave" name="Update" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    function validatePan() {
        var panVal = $('#PanNo').val();
        var regpan = /^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/;

        if (regpan.test(panVal)) {
            $("#PanNo").removeClass('errortext');
        } else {
            alert("Invalid PAN Number");
            $("#PanNo").val('');
            $("#PanNo").addClass('errortext');
        }
    }

    function getStateCity() {

        var pincode = $('#Pincode').val();
        $.ajax({
            url: '/Master/GetStateCity', type: 'post', dataType: 'json',
            data: { 'Pincode': pincode },
            success: function (data) {
                if (data.Result == "yes") {
                    $("#State").val(data.State);
                    $("#City").val(data.City);
                    $("#State").removeClass('errortext');
                    $("#City").removeClass('errortext');
                    $("#Pincode").removeClass('errortext');
                }
                else if (data.Result == "no") {
                    alert("Invalid Pincode");
                    $("#State").val('');
                    $("#City").val('');
                    $("#State").addClass('errortext');
                    $("#City").addClass('errortext');
                    $("#Pincode").addClass('errortext');
                    $('#Pincode').focus();
                    $('#Pincode').val('');

                }
            }

        });
    }



    function validateform() {
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");

        if ($('#UserTypeID').val() == '0') {
            $("#UserTypeID").addClass('errortext');
            $('#UserTypeID').focus();
            return false;
        }
        if ($('#Name').val() == '') {
            $("#Name").addClass('errortext');
            $('#Name').focus();
            return false;
        }
        if ($('#Mobile').val() == '') {
            $("#Mobile").addClass('errortext');
            $('#Mobile').focus();
            return false;
        }
        if ($('#JoiningDate').val() == '') {
            $("#JoiningDate").addClass('errortext');
            $('#JoiningDate').focus();
            return false;
        }

        $("#divload").css({ 'display': '' });
        return true;
    }

    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    $('#JoiningDate').datepicker({
        format: 'dd/mm/yyyy',
        changeYear: true,
        changeMonth: true
    });



</script>


