@model Dolphin.Models.DashBoard
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@using (Html.BeginForm("BookingList", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <p style="color:red">
        @TempData["Dashboard"]
    </p>
    <div class="page-content">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
            <div class="col">
                <div class="card radius-10 bg-gradient-cosmic">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <p class="mb-0 text-white">Total Affiliates</p>
                                <h4 class="my-1 text-white">@ViewBag.Associates</h4>
                            </div>
                            @*<div id="chart1"></div>*@


                            <div>
                                <a href="/TraditionalAssociate/AssociateList" class="text-white m-b-0">View Details</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card radius-10 bg-gradient-ibiza">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <p class="mb-0 text-white">Total Customers</p>
                                <h4 class="my-1 text-white">@ViewBag.Customers</h4>
                            </div>
                            @*<div id="chart2"></div>*@
                            <div>
                                <a href="/Customer/CustomerList" class="text-white m-b-0">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-10 bg-gradient-ohhappiness">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <p class="mb-0 text-white">Total Bookings</p>
                                <h4 class="my-1 text-white">@ViewBag.Plots</h4>
                            </div>
                            @*<div id="chart3"></div>*@
                            <div>
                                <a href="/Plot/PlotBookingList" class="text-white m-b-0">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-10 bg-gradient-kyoto">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="me-auto">
                                <p class="mb-0 text-white">Total Business</p>
                                <h4 class="my-1 text-white">@ViewBag.TotalBusiness</h4>


                            </div>
                            @*<div id="chart4"></div>*@
                            <div>
                                <a href="/AdminReports/SummaryReport" class="text-white m-b-0">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->


        @*<div class="row">
            <div class="col-12 col-lg-12">
                <div class="card radius-10">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0">Sales Overview</h6>
                            </div>
                            <div class="dropdown ms-auto">
                                <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                                    <i class='bx bx-dots-horizontal-rounded font-22 text-option'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Another action</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center ms-auto font-13 gap-2 mb-3">
                            <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1 text-info"></i>Downloads</span>
                            <span class="border px-1 rounded cursor-pointer"><i class="bx bxs-circle me-1 text-danger"></i>Earnings</span>
                        </div>
                        <div class="chart-container-9">
                            <canvas id="chart5"></canvas>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-0 row-group text-center border-top">
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">$168</h4>
                                <small class="mb-0">Today's Sales <span> <i class="bx bx-up-arrow-alt align-middle"></i> 2.43%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">$856</h4>
                                <small class="mb-0">This Week Sales <span> <i class="bx bx-up-arrow-alt align-middle"></i> 12.65%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">$2400</h4>
                                <small class="mb-0">This Month Sales <span> <i class="bx bx-up-arrow-alt align-middle"></i> 5.62%</span></small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-3">
                                <h4 class="mb-0">$4,562</h4>
                                <small class="mb-0">This Year Sales <span> <i class="bx bx-up-arrow-alt align-middle"></i> 12.62%</span></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@<!--end row-->






        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col d-flex">
                <div class="card radius-10 w-100">
                    <div class="card-header bg-transparent">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0 py-2">Booking Details</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container-2">
                            <canvas id="chart16"></canvas>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                            Alloted Plots &nbsp;
                            <span class="badge rounded-pill" style="background-color: #B434FD;">&nbsp;</span>
                            Booked Plots &nbsp;
                            <span class="badge bg-gradient-ibiza rounded-pill">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                            Hold Plots&nbsp;
                            <span class="badge bg-warning rounded-pill">&nbsp;</span>
                            @*Total Booking &nbsp;<span class="badge bg-gradient-deepblue rounded-pill">&nbsp;</span>*@
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col d-flex">
                <div class="card radius-10 w-100">
                    <div class="card-header bg-transparent">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0 py-2">Affiliate Status</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container-1">
                            <canvas id="chart17"></canvas>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                            Total  &nbsp;
                            <span class="badge rounded-pill" style="background-color:#3366cc;">&nbsp;</span>
                            InActive &nbsp;
                             <span class="badge rounded-pill" style="background-color:#ff9900">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                            Active<span class="badge rounded-pill" style="background-color:#109618;">&nbsp;</span>
                           Other &nbsp;<span class="badge rounded-pill" style="background-color:#ccc;">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">

                        </li>
                    </ul>

                    @*<ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center border-top">
                            Total <span class="badge rounded-pill" style="background-color:#3366cc;">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
                            InActive <span class="badge rounded-pill" style="background-color:#ff9900">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
                            Active <span class="badge rounded-pill" style="background-color:#109618;">&nbsp;</span>
                        </li>
                        <li class="list-group-item d-flex bg-transparent justify-content-between align-items-center">
                            Other <span class="badge rounded-pill" style="background-color:#ccc;">&nbsp;</span>
                        </li>
                    </ul>*@
                </div>
            </div>


            <div class="col d-flex">
                <div class="card radius-10 w-100">
                    <div class="card-header bg-transparent">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0 py-2">Affiliate Joining Details</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container-0">
                            <canvas id="chart6"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col d-flex">
                <div class="card radius-10 w-100">
                    <div class="card-header bg-transparent">
                        <div class="d-flex align-items-center">
                            <div>
                                <h6 class="mb-0 py-2">Affiliate Joining Details</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container-1">
                            <canvas id="chart6"></canvas>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>








     
        <div class="card">
            <div class="card-body">
                <h5>Booking Details</h5>
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Affiliate Name</th>
                                <th>Customer Name</th>
                                <th>Booking Date</th>
                                <th>Plot Amount</th>
                                <th>Plot Details</th>
                                <th>Booking Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.List != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.List)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@Item.AssociateName</td>
                                            <td>@Item.CustomerName</td>
                                            <td>@Item.BookingDate</td>
                                            <td>@Item.Amount</td>
                                            <td>@Item.PlotNumber</td>
                                            <td>@Item.BookingStatus</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="text-end m-r-20">
                        <a href="/Plot/PlotBookingList" class="b-b-primary btn btn-dark text-white">View all Bookings</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <h5>Latest Affiliates</h5>
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Image</th>
                                <th>Affiliate Name</th>
                                <th>Designation</th>
                                <th>Joining Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.ListAssociate != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.ListAssociate)
                                    {

                                        <tr>
                                            <td>@i</td>

                                            <td><img class="img-radius img-40 align-top m-r-15" src="@Item.ProfilePic" id="img" /></td>
                                            <td>@Item.AssociateName</td>
                                            <td>@Item.DesignationName </td>
                                            <td>@Item.JoiningDate</td>

                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="text-end m-r-20">
                        <a href="/TraditionalAssociate/AssociateList" class="b-b-primary btn btn-dark text-white">View all Associates</a>
                    </div>
                </div>
            </div>
        </div>





    </div>




    

            @*<div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h4 class="m-b-10">Dashboard</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-yellow">@ViewBag.Associates</h4>
                                                    <h6 class="text-muted m-b-0">Total Affiliates</h6>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-yellow">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <a href="/TraditionalAssociate/AssociateList" class="text-white m-b-0">View Details</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-green">@ViewBag.Customers</h4>
                                                    <h6 class="text-muted m-b-0">Total Customers</h6>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-green">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <a href="/Customer/CustomerList" class="text-white m-b-0">View Details</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-red">@ViewBag.Plots</h4>
                                                    <h6 class="text-muted m-b-0">Total Bookings</h6>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-red">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <a href="/Plot/PlotBookingList" class="text-white m-b-0">View Details</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h4 class="text-c-blue">@ViewBag.TotalBusiness</h4>
                                                    <h6 class="text-muted m-b-0">Total Business</h6>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="card-footer bg-c-blue">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <a href="/AdminReports/SummaryReport" class="text-white m-b-0">View Details</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card user-card2">
                                        <div class="card-block text-center">
                                            <h6 class="m-b-15">Booking Details</h6>
                                            <div id="divusers"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card user-card2">
                                        <div class="card-block text-center">
                                            <h6 class="m-b-15">Affiliate Status</h6>
                                            <div id="divpayout"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card user-card2">
                                        <div class="card-block text-center">
                                            <h6 class="m-b-15">Affiliate Joining Details</h6>
                                            <div id="divinvestment"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card table-card">
                                        <div class="card-header borderless ">
                                            <h5>Booking Details</h5>

                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>Sr No.</th>
                                                            <th>Affiliate Name</th>
                                                            <th>Customer Name</th>
                                                            <th>Booking Date</th>
                                                            <th>Plot Amount</th>
                                                            <th>Plot Details</th>
                                                            <th>Booking Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.List != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.List)
                                                                {
                                                                    <tr>
                                                                        <td>@i</td>
                                                                        <td>@Item.AssociateName</td>
                                                                        <td>@Item.CustomerName</td>
                                                                        <td>@Item.BookingDate</td>
                                                                        <td>@Item.Amount</td>
                                                                        <td>@Item.PlotNumber</td>
                                                                        <td>@Item.BookingStatus</td>
                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                                <div class="text-right m-r-20">
                                                    <a href="/Plot/PlotBookingList" class="b-b-primary text-primary">View all Bookings</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card table-card">
                                        <div class="card-header borderless ">
                                            <h5>Latest Affiliates</h5>

                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>Sr No.</th>
                                                            <th>Image</th>
                                                            <th>Affiliate Name</th>
                                                            <th>Designation</th>
                                                            <th>Joining Date</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            if (Model.ListAssociate != null)
                                                            {
                                                                int i = 1;
                                                                foreach (var Item in Model.ListAssociate)
                                                                {

                                                                    <tr>
                                                                        <td>@i</td>

                                                                        <td><img class="img-radius img-40 align-top m-r-15" src="@Item.ProfilePic" id="img" /></td>
                                                                        <td>@Item.AssociateName</td>
                                                                        <td>@Item.DesignationName </td>
                                                                        <td>@Item.JoiningDate</td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                                <div class="text-right m-r-20">
                                                    <a href="/TraditionalAssociate/AssociateList" class=" b-b-primary text-primary">View all Associates</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@





       
   
















}


<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>





<script>
   window.onload = bindusers;
   var ctx1 = document.getElementById("chart16").getContext('2d');
   function bindusers() {
       $.ajax({
           type: 'POST',
           dataType: 'json',
           contentType: 'application/json',
           url: '/Admin/GetGraphDetails',
           data: JSON.stringify(),
           success:
           function (d) {
               debugger;
               var TotalB = [];
               var TotalStatus = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   TotalB.push(t[i].Total);
                   TotalStatus.push(t[i].Status);
               }

               var HoldPlot = ctx1.createLinearGradient(0, 0, 0, 300);
               HoldPlot.addColorStop(0, '#ff9900');
               HoldPlot.addColorStop(1, '#ff9900');


               var BookedPlot = ctx1.createLinearGradient(0, 0, 0, 300);
               BookedPlot.addColorStop(0, '#dc3912');
               BookedPlot.addColorStop(1, '#dc3912');

               var AllottedPlot = ctx1.createLinearGradient(0, 0, 0, 300);
               AllottedPlot.addColorStop(0, '#e470e4');
               AllottedPlot.addColorStop(1, '#e470e4');

               var myChart = new Chart(ctx1, {
                   type: 'pie',
                   data: {
                       labels: TotalStatus,
                       datasets: [{
                           backgroundColor: [
                             HoldPlot,
                             BookedPlot,
                             AllottedPlot
                           ],

                           hoverBackgroundColor: [
                             HoldPlot,
                             BookedPlot,
                             AllottedPlot
                           ],

                           data: TotalB
                       }]
                   },
                   options: {
                       maintainAspectRatio: false,
                       plugins: {
                           legend: {
                               display: false,
                               position: 'bottom'
                           }
                       }

                   }
               });

           },
           error: function () {
           }
       });

       var ctx2 = document.getElementById("chart17").getContext('2d');
       $.ajax({
           type: 'POST',
           dataType: 'json',
           contentType: 'application/json',
           url: '/Admin/GetGraphDetailsAssociate',
           data: JSON.stringify(),
           success:
           function (d) {
               debugger;
               var TotalUsers = [];
               var IsStatus = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   TotalUsers.push(t[i].Total);
                   IsStatus.push(t[i].Status);
               }
               var Totalas = ctx2.createLinearGradient(0, 0, 0, 300);
               Totalas.addColorStop(0, '#3366cc');
               Totalas.addColorStop(1, '#3366cc');

               var Blockeds = ctx2.createLinearGradient(0, 0, 0, 300);
               Blockeds.addColorStop(0, '#000000');
               Blockeds.addColorStop(1, '#000000');
              
               var Activea = ctx2.createLinearGradient(0, 0, 0, 300);
               Activea.addColorStop(0, '#ff9900');
               Activea.addColorStop(1, '#ff9900');

               var InActivea = ctx2.createLinearGradient(0, 0, 0, 300);
               InActivea.addColorStop(0, '#109618');
               InActivea.addColorStop(1, '#109618');


             

               var myChart = new Chart(ctx2, {
                   type: 'polarArea',
                   data: {
                       labels: IsStatus,
                       datasets: [{
                           backgroundColor: [
                             Totalas,
                             Blockeds,
                             Activea,
                             InActivea
                      
                           ],

                           hoverBackgroundColor: [
                             Totalas,
                             Blockeds,
                             Activea,
                             InActivea
                           ],
                           data: TotalUsers
                       }]
                   },
                   options: {
                       maintainAspectRatio: false,
                       plugins: {
                           legend: {
                               display: false,
                               position: 'bottom'
                           }
                       }

                   }
               });
           }
       })

       var ctx = document.getElementById("chart6").getContext('2d');
       $.ajax({
           type: 'POST',
           dataType: 'json',
           contentType: 'application/json',
           url: '/Admin/GetAssociateJoiningDetails',
           data: JSON.stringify(),
           success:
           function (d) {
               debugger;
               var Months = [];
               var TotalUsers = [];
               var t = JSON.parse(JSON.stringify(d));
               for (var i = 0; i < t.length; i++) {
                   TotalUsers.push(t[i].TotalUser);
                   Months.push(t[i].Month);
               }

               var gradientStroke3 = ctx.createLinearGradient(0, 0, 0, 300);
               gradientStroke3.addColorStop(0, '#42e695');
               gradientStroke3.addColorStop(1, '#3bb2b8');

               var gradientStroke4 = ctx.createLinearGradient(0, 0, 0, 300);
               gradientStroke4.addColorStop(0, ' #7f00ff');
               gradientStroke4.addColorStop(0.5, '#e100ff');

               var myChart = new Chart(ctx, {
                   type: 'bar',
                   data: {
                       labels: Months,
                       //data: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Set", "Nov", "Dec"],
                       datasets: [{
                           label: 'Total Affiliate',
                           data: TotalUsers,
                           borderColor: gradientStroke3,
                           backgroundColor: gradientStroke3,
                           hoverBackgroundColor: gradientStroke3,
                           pointRadius: 0,
                           borderRadius: 20,
                           fill: false,
                           borderWidth: 1
                       },
                       //{
                       //    label: 'mobiles',
                       //    data: [50, 60, 40, 70, 35, 75, 30, 20],
                       //    bordercolor: gradientstroke4,
                       //    backgroundcolor: gradientstroke4,
                       //    hoverbackgroundcolor: gradientstroke4,
                       //    pointradius: 0,
                       //    borderradius: 20,
                       //    fill: false,
                       //    borderwidth: 1
                       //}

                       ]
                   },
                   options: {
                       maintainAspectRatio: false,
                       barPercentage: 0.5,
                       categoryPercentage: 0.8,
                       plugins: {
                           legend: {
                               display: true,
                               position: 'bottom'
                           }
                       },
                       scales: {
                           y: {
                               beginAtZero: true
                           }
                       }
                   }
               });

           },
           error: function () {
           }
       });


   }





</script>





