@model Dolphin.Models.Reports

@{
    ViewBag.Title = "AssociateDownlineReports";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("AssociateDownlineReports", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Downline Reports</h5>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body row">
                    <form>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>Affiliate ID</label>
                                @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Search by Affiliate ID" })
                            </div>
                        </div>
                       <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date", @readonly = "readonly" })
                            </div>
                        </div>
                <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <br />
                                <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="Search" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <h6 class="mb-0">Downline Reports</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Login Details</th>
                                <th>Total Business</th>
                                <th>Team Business </th>
                                <th>Direct Member Joining</th>
                                <th>Team Member Joining</th>
                                <th>Income</th>
                                @*<th>Status</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstDownline != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstDownline)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.LoginDetails</td>
                                            <td>@Item.TotalBusiness</td>
                                            <td>@Item.TeamBusinessAmount</td>
                                            <td>@Item.DirectMemberJoining</td>
                                            <td>@Item.TeamMemberJoining</td>
                                            <td>@Item.Income</td>

                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="">
                                @*<th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th colspan="7" style="text-align:end;">Total </th>
                                    <th></th>
                                    <th></th>*@
                            </tr>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Login Details</th>
                                <th>Total Business</th>
                                <th>Team Business </th>
                                <th>Direct Member Joining</th>
                                <th>Team Member Joining</th>
                                <th>Income</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>


}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });

    </script>



