@model Dolphin.Models.Plot

@{
    ViewBag.Title = "AssociateSelfDownlineBusinessReport";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}
<style>

    .errortext {
        border: 1px solid red !important;
    }
</style>
@using (Html.BeginForm("AssociateSelfDownlineBusinessReport", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{

    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Self Downline Business Report</h5>
                    <span style="color: red">
                        @TempData[""]
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">

                <div class="col-sm-3 mb-3">
                    <label class="float-label">Customer ID</label>
                    @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @Placeholder = "Search by Customer ID" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Customer Name</label>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Search by Customer Name" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Mobile Number</label>
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", @Placeholder = "Customer Mobile Number" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label"> Booking No</label>
                    @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Search by Booking Number" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Select Site</label>
                    @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Select Sector</label>
                    @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Select Block</label>
                    @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Plot Number</label>
                    @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "Search by Plot Number" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">From Date</label>
                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">To Date</label>
                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds" })
                </div>
                <div class="col-sm-2 mb-3">
                    <label class="float-label">Is DownLine</label>
                    @Html.CheckBoxFor(m => m.IsDownline)
                </div>
                <div class="col-md-3 mb-3">
                    <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="Search" />
                </div>

                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr class="table-active">
                                @*<th hidden>PK_BookingID</th>*@
                                <th>Sr No.</th>
                                <th>Branch Name</th>
                                <th>Booking Number</th>
                                <th>Affiliate Info</th>
                                <th>Customer Info</th>
                                <th>Plot </th>
                                @*<th>Actual Plot Amount</th>
                                <th>Discount</th>
                                <th>Net Plot Amount</th>
                                <th>Balance Amount</th>*@
                                <th>Payment Date</th>
                                <th>Paid Amt</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstPlot != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstPlot)
                                    {
                                        <tr class="text-left">

                                            <td>@i</td>
                                            <td>@Item.BranchName</td>
                                            <td>@Item.BookingNumber</td>
                                            <td>@Item.AssociateName (@Item.AssociateID)</td>
                                            <td>@Item.CustomerName (@Item.CustomerID)</td>
                                            <td>@Item.PlotNumber</td>
                                            @*<td>@Item.Amount</td>
                                                <td>@Item.Discount</td>
                                                <td>@Item.PlotAmount</td>
                                                <td>@Item.Balance</td>*@
                                            <td>@Item.PaymentDate</td>
                                            <td>@Item.PaidAmount</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-active">
                                @*<th hidden>PK_BookingID</th>
                                  <th>S No.</th>
                                  <th>Branch Name</th>
                                  <th>Booking Number</th>
                                  <th>Affiliate Info</th>
                                  <th>Customer Info</th>
                                  <th>Plot </th>*@
                                <th colspan="6" style="text-align:end;">Total</th>
                                @*<th>@ViewBag.Amount</th>
                                <th>@ViewBag.Discount</th>
                                <th>@ViewBag.PlotAmount</th>
                                <th>@ViewBag.Balance</th>*@
                                <th></th>
                                <th>@ViewBag.PaidAmount</th>

                            </tr>
                            <tr class="table-active">
                                @*<th hidden>PK_BookingID</th>*@
                                <th>S No.</th>
                                <th>Branch Name</th>
                                <th>Booking Number</th>
                                <th>Affiliate Info</th>
                                <th>Customer Info</th>
                                <th>Plot </th>
                                @*<th>Actual Plot Amount</th>
                                 <th>Discount</th>
                                 <th>Net Plot Amount</th>
                                 <th>Balance Amount</th>*@
                                <th>Payment Date</th>
                                <th>Paid Amt</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });


    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Plot/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }

    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Plot/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
</script>
