@model Dolphin.Models.Reports

@{
    ViewBag.Title = "BusinessDevelopmentExpenseMaster_Report";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("BusinessDevelopmentExpenseMaster_Report", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">BusinessDevelopmentExpenseMaster_Report</h5>
                    <span style="color: red">
                        @TempData[""]
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Name</th>
                                <th>Target</th>
                                <th>Business</th>
                                <th>Income</th>
                                <th>Month</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstExpenseMasterBusinessReport != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstExpenseMasterBusinessReport)
                                    {
                                        <tr class="text-left">

                                            <td>@i</td>
                                            <td>@Item.Name</td>
                                            <td>@Item.Target</td>
                                            <td>@Item.Business</td>
                                            <td>@Item.Income</td>
                                            <td>@Item.Month</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr class="table-active">
                                <th></th>
                                <th></th>
                                <th>@ViewBag.Target</th>
                                <th>@ViewBag.Income</th>
                                <th>@ViewBag.Business</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


