@model Dolphin.Models.Reports

@{
    ViewBag.Title = "BusinessReport";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}


@using (Html.BeginForm("BusinessReport", "AssociateDashBoard", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Business Reports</h5>
                    <span style="color: red">
                        @TempData["Plot"]
                    </span>
                    <span style="color: red">
                       @TempData["msg"]
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">

                <div class="col-sm-3 mb-3">
                    <label class="float-label">LoginID</label>
                    @Html.TextBoxFor(m => m.UserLoginId, new { @class = "form-control", @Placeholder = "Search by LoginId" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">From Date</label>
                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">To Date</label>
                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds" })
                </div>
                <div class="col-md-3 mb-3">
                    <label class="float-label d-block">&nbsp;</label>
                    <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="btnSearch"   onclick="return validate();"/>
                </div>

                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Login Detail</th>
                                <th>Direct Business</th>
                                <th>Team Business</th>
                                <th>Direct Member Joining</th>
                                <th>Team Member Joining</th>
                                <th>Team Income Summary Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstP != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstP)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td style="display:none">@Item.UserLoginId</td>
                                            <td>@Item.LoginId</td>
                                            <td>@Item.TotalAllotmentAmount</td>
                                            <td>@Item.TeamBusiness</td>
                                            <td>@Item.DirectMemberJoining</td>
                                            <td>@Item.TeamMemberJoining</td>
                                            <td><a href="/AssociateDashBoard/SummryReports?LoginId=@Item.UserLoginId" class="btn btn-info">Summry Reports</a></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>
    function validate()
    {
        if ($("#UserLoginId").val() == "") {
            $("#UserLoginId").addClass('errortext');
            $('#UserLoginId').focus();
            return false;
        }
    }
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>
