@model Dolphin.Models.Reports
@{
    ViewBag.Title = "DownBusinessReport";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}




<style>
    .errortext {
        border: 1px solid red !important;
    }

    .table td, .table th {
        padding: 7px;
    }
</style>

@using (Html.BeginForm("DownBusinessReport", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
{



    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Downline Business Reports</h5>
                    <span style="color: red">
                      @TempData["Plot"]
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Login Detail</th>
                                <th>Total Business</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstP != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstP)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.LoginId</td>
                                            <td>@Item.TotalAllotmentAmount</td>
                                            <td>
                                                <a href="#@Item.Fk_UserId" class="btn btn-success btn-sm" onclick="OpenLedger('@Item.Fk_UserId');">
                                                    View Business
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    



    @Html.HiddenFor(m => m.Fk_UserId)
    <div class="modal fade" id="myModal" role="dialog" style="display: none;padding-top:55px;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Business Details</h6>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>

                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12 card">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped mb-0" id="tblData">
                                    <thead>
                                        <tr>
                                            <th>LoginId</th>
                                            <th>Name</th>
                                            <th>Business</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal();">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">


<script>


    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function OpenLedger(Fk_UserId) {
        $("#Fk_UserId").val(Fk_UserId);
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: "/AssociateDashboard/GetDownLineBusinessById",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_UserId: $("#Fk_UserId").val(), FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val() },
            success: function (data) {
                console.log(data)
                debugger
                $('#tblData').find("tr:not(:first)").remove();
                if (data.lstDownLineBusiness !=null && data.lstDownLineBusiness.length > 0) {
                    for (var i = 0; i < data.lstDownLineBusiness.length; i++) {
                        $("#tblData").append('<tr><td id="LoginId' + i + ' " >' + data.lstDownLineBusiness[i].LoginId +
                            '</td><td id="Name' + i + ' " >' + data.lstDownLineBusiness[i].Name +
                             '</td><td id="Business' + i + ' " >' + data.lstDownLineBusiness[i].Business +
                            '</td></tr>')
                    }
                    $("#myModal").modal('show');
                }
                else {
                    alert('No record found !!')
                }
            }
        });

    }

    function closeModal() {
        $("#myModal").hide();
        $('body').removeClass().removeAttr('style'); $('.modal-backdrop').remove();
        location.reload();
    }
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy'
    });


</script>
