@model Dolphin.Models.Master

@{
    ViewBag.Title = "EnquiryList";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

 @using (Html.BeginForm("EnquiryList", "AssociateDashboard", FormMethod.Post, new { @id = "form1" }))
 {


    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Enquiry Master</h5>
                    <span style="color: red">
                        @TempData["Enquiry"]
                    </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">

                <div class="col-sm-3 mb-3">
                    <label class="float-label">Name<span style="color:red;">*</span></label>
                   @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Placeholder = "Name" })
                </div>
                <div class="col-sm-3 mb-3">
                    <label class="float-label">Details<span style="color:red">*</span></label>
                    @Html.TextAreaFor(m => m.Details, new { @class = "form-control", @Placeholder = "Details" })
                </div>
               
                <div class="col-md-3 mb-3">
                    <label class="float-label d-block">&nbsp;</label>
                    @if (Model.EnquiryID == null)
                    {
                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Save" id="btnSave" name="btnSave" />
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.EnquiryID, new { @Value = @Model.EnquiryID })
                        <input class="btn btn-success pull-left" type="submit" onclick="return validateform();" value="Update" id="btnUpdate" name="btnUpdate" />
                    }
                </div>

                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Enquiry List</h5>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="card-body row">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr class="table-active">
                                    <th>Sr No.</th>
                                    <th>Name</th>
                                    <th>Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstBlock1 != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstBlock1)
                                        {
                                            <tr class="text-left">
                                                <td>@i</td>
                                                <td>@Item.Name</td>
                                                <td>@Item.Details</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
 }

