@model Dolphin.Models.AssociateBooking

@{
    ViewBag.Title = "LedgerAssociate";
    Layout = "~/Views/Shared/AssociateLayout.cshtml";
}

@using (Html.BeginForm("LedgerAssociate", "AssociateDashboard", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Customer Ledger Report</h5>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body row">
                <div class="col-md-12 mb-3">
                    <h5>Plot Details</h5>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label class="float-label"><b>Customer Details :</b></label>
                        <label class="float-label" id="bal">@ViewBag.CustomerInfo (@ViewBag.CustomerID)</label>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="form-group">
                        <label class="float-label"><b>Affiliate Details :</b></label>
                        <label class="float-label" id="bal">@ViewBag.AssociateInfo (@ViewBag.AssociateID)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Plot Rate :</b></label>
                            <label class="float-label" id="Plotrte">@ViewBag.PlotRate</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Plot Area :</b></label>
                            <label class="float-label" id="Plotarea">@ViewBag.PlotArea</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Actual Plot Amount :</b></label>
                            <label class="float-label" id="ActPlotAmt">@ViewBag.PlotAmount</label>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Discount :</b></label>
                            <label class="float-label" id="disct">@ViewBag.Discount</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Booking Amount :</b></label>
                            <label class="float-label" id="bookingAmt">@ViewBag.BookingAmount</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Booking Date :</b></label>
                            <label class="float-label" id="Bookigdt">@ViewBag.BookingDate</label>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Payment Plan :</b></label>
                            <label class="float-label" id="Payplan">@ViewBag.PlanName</label>

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Total Paid Amount:</b></label>
                            <label class="float-label" id="Payamt">@ViewBag.PayAmount</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Allotment Date:</b></label>
                            <label class="float-label" id="Paydt">@ViewBag.PaymentDate</label>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3" hidden="hidden">
                        <div class="form-group">
                            <label class="float-label"><b>Total Allotment Amount:</b></label>
                            <label class="float-label" id="totAlotamt">@ViewBag.TotalAllotmentAmount</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>No. of Installments:</b></label>
                            <label class="float-label" id="noOfinst">@ViewBag.TotalInstallment</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Installment Amount :</b></label>
                            <label class="float-label" id="instAmt">@ViewBag.InstallmentAmount</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-group">
                            <label class="float-label"><b>Balance :</b></label>
                            <label class="float-label" id="bal">@ViewBag.Balance</label>
                        </div>
                    </div>
                </div>
              
               
               
                <div class="col-md-12">
                    <h5>Installment Details</h5>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="tblData" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr class="table-active">
                                    <th hidden>PK_BookingId</th>
                                    <th hidden>BookingID</th>
                                    @* <th>S No.</th>*@
                                    <th>Installment No.</th>
                                    <th>Installment Date</th>
                                    <th>Installment Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Payment Date</th>
                                    <th>Due Amount</th>
                                    <th>Payment Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lstPlot != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lstPlot)
                                        {
                                            <tr class="text-left">
                                                <td>@Item.InstallmentNo</td>
                                                <td>@Item.InstallmentDate</td>
                                                <td>@Item.InstallmentAmount</td>
                                                <td>@Item.PaidAmount</td>
                                                <td>@Item.PaymentDate</td>
                                                <td>@Item.DueAmount</td>
                                                <td>@Item.PaymentMode</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
