@model Dolphin.Models.Website

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap style2">
    <div class="hero-slider-one owl-carousel">
        <div class="hero-slide-item hero-slide-1 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                            <h1> 
                                Discover<span> Your Dream  <img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"></span> Plot Today!
                            </h1>
                            <p>Explore a wide range of properties, expert guidance, and seamless transactions. Your perfect Plot is just a click away. Start your real estate journey now.</p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item hero-slide-2 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                            <h1>
                                Find<span> Perfect <img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"></span> Place For Dream Plot.
                            </h1>
                            <p>Discover a range of plot to match your lifestyle. From cozy condos to spacious estates, we have it all.</p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item hero-slide-3 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                             
                            <h1> The  <span>Best Way<img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"> </span> To Find Your Plot</h1>
                            <p>
                                Explore a diverse range of properties and find your perfect space with our expert guidance. Your journey to homeownership starts here.
                            </p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item hero-slide-4 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                            <h1>
                                Place For Your <span>Plot, <img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"> </span> Our Expertise
                            </h1>
                            <p>
                                Let our experienced associate guide you to your ideal Plot. Trust us for a seamless buying experience.
                            </p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item hero-slide-5 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                            <h1>
                                Now It's <span>Easy To Find<img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"> </span> Your Future Plot
                            </h1>
                            <p>
                                Simplify property hunting. Your future plot is just a click away. Explore, compare, and secure your ideal investment effortlessly.
                            </p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slide-item hero-slide-6 bg-f" style="background-size:100% 100%!important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10">
                        <div class="hero-content">
                            <h1>
                                Your <span>Plot,<img src="~/assetsWeb/img/hero/hero-shape-2.png" alt="Image"> </span> Our Expertise
                            </h1>
                            <p>
                                Allow us to guide you through the innovative stress free approach in finding
                                your dream Properties.
                            </p>
                            <a href="CompanyOverview" class="btn style2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="search-property style1">
        @using (Html.BeginForm("UnitAvailability", "Website", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data", @class="property-search-form justify-content-center"}))
{
            
        <div class="form-group">
       
                 @Html.DropDownListFor(m => m.SiteTypeID, new SelectList(ViewBag.ddlSiteType, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteTypeChange();" })
        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number" })
                        </div>
                        <div class="form-group">
                            <button type="buttom" class="btn style2 clearProper" style="background: #2c3240;">
                            

                                <a class="text-white" href="/Website/Index">Clear Property Filter</a>
                            
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn style2" name="Search" value="Search" id="btnSearchPlot" onclick="return GetDetails(); ">Search Property</button>
                            @*<input type="submit" name="Search" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return GetDetails(); " />*@
                        </div>
        }
    </div>
</div>



<section class="about-wrap style2  pt-100 pb-100 bg-seashell">
    <div class="container">
        <div class="about-box">
            <img src="~/assetsWeb/img/about/about-shape-3.png" alt="Image" class="about-shape-three">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">
                    <div class="">
                        <img src="~/assetsWeb/img/gallery/g4.jpg" class="rounded" alt="">
                    </div>
                </div>
                <div class="col-lg-7" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="200">
                    <div class="about-content">
                        <div class="content-title style2">
                            <span>About</span>
                            <h2>Abdolphin Infratech</h2>
                            <p>
                                At Abdolphin Infratech, we believe in turning dreams into addresses. We are more than just a real estate company; we are the architects of your aspirations. Our journey began with a vision to redefine the real estate landscape, and today, we stand as a beacon of trust and excellence in the industry.
                            </p>
                            <p>
                                Our vision is to be the preferred choice for all your real estate needs, offering innovative and customized solutions that exceed your expectations. We believe in creating value for our clients by harnessing our in-depth market knowledge, cutting-edge technology, and a passion for excellence.
                            </p>
                        </div>
                        <a href="/Website/CompanyOverview" class="btn style2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="ptb-50" style="background: rgb(251, 251, 251);">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <span>What are you looking for?</span>
            <h2>Properties In Most Popular Places</h2>
            <p>
                "Desirable properties in prime locations worldwide. From bustling city centers to serene coastal
                escapes, find your dream home in iconic destinations."
            </p>
        </div>
        <div class="row">
            <div class="row mt-4">
                <div class="col-md-4 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="flaticon-home"></i></div>
                        <h3>Family House</h3>
                        <p>
                            Spacious family house with modern amenities, ample bedrooms, lush garden, and nearby
                            schools. Perfect for family living.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="flaticon-apartment"></i></div>
                        <h3>Town House</h3>
                        <p>
                            Charming townhouse: historic architecture, modern comfort. Ideal urban living with
                            shops, dining, and culture at your doorstep.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="utf-icon-box-item-area">
                        <div class="icon-container"><i class="flaticon-home"></i></div>
                        <h3>Apartment</h3>
                        <p>
                            Stylish urban apartment, modern amenities, prime location. Your ideal city living
                            space awaits. Explore convenience and comfort.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="city-wrap  pb-50 pt-50 bg-seashell">
    <img src="~/assetsWeb/img/shape-2.png" alt="Image" class="city-shape-one">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <span>Choose A Popular City</span>
            <h2>Most Popular Places</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="200">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-1.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Dolphin</a></h3>
                        <p>properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="300">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-2.jpg" alt="Image">
                    <div class="city-info">
                        <<h3><a href="#!">Dolphin</a></h3>
                        <p>properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="400">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-3.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Dolphin</a></h3>
                        <p> properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="500">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-4.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Dolphin</a></h3>
                        <p> properties</p>
                    </div>
                </div>
            </div>




            @*<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="200">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-5.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">San Fransisco</a></h3>
                        <p>+231 properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="300">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-6.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Torento City</a></h3>
                        <p>+1222 properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="400">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-7.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Vancuver City</a></h3>
                        <p>+151 properties</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="500">
                <div class="city-card style1">
                    <img src="~/assetsWeb/img/city/city-8.jpg" alt="Image">
                    <div class="city-info">
                        <h3><a href="#!">Montreal City</a></h3>
                        <p>+232 properties</p>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>



<div class="counter-area position-relative counterBg pb-50 pt-50">
    <div class="container">
        <div class="counter-card-wrap style1">
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-customer"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        <span class="odometer" data-count="967"></span>
                        <span class="target">+</span>
                    </h2>
                    <p>Listings For Sale</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-apartment"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        <span class="odometer" data-count="1276"></span>
                        <span class="target">+</span>
                    </h2>
                    <p>Listings For Rent</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-user-avatar"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        <span class="odometer" data-count="396"></span>
                        <span class="target">+</span>
                    </h2>
                    <p>Our Agents</p>
                </div>
            </div>
            <div class="counter-card">
                <span class="counter-icon">
                    <i class="flaticon-quality-control"></i>
                </span>
                <div class="counter-text">
                    <h2 class="counter-num">
                        <span class="odometer" data-count="177"></span>
                        <span class="target">+</span>
                    </h2>
                    <p>Computer Brokers</p>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="agent-wrap  pb-50 pt-50">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <span>Choose A Popular City</span>
            <h2>Our Team</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="agent-card style1">
                    <div class="agent-img">
                        <img src="~/assetsWeb/img/agents/agent-1.jpg" alt="Image">
                    </div>
                    <div class="agent-info-wrap">
                        <div class="agent-info">
                            <h3><a href="#!">Jitendra Kumar Gupta</a></h3>
                            <span>Direactor</span>
                            <ul class="social-profile list-style style1">
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-linkedin-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="agent-card style1">
                    <div class="agent-img">
                        <img src="~/assetsWeb/img/agents/agent-2.jpg" alt="Image">
                    </div>
                    <div class="agent-info-wrap">
                        <div class="agent-info">
                            <h3><a href="#!">Sunil Kumar Yadav</a></h3>
                            <span>Direactor</span>
                            <ul class="social-profile list-style style1">
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-linkedin-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="agent-card style1">
                    <div class="agent-img">
                        <img src="~/assetsWeb/img/agents/agent-3.jpg" alt="Image">
                    </div>
                    <div class="agent-info-wrap">
                        <div class="agent-info">
                            <h3><a href="#!">kifayatullah Khan</a></h3>
                            <span>Direactor</span>
                            <ul class="social-profile list-style style1">
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-linkedin-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="agent-card style1">
                    <div class="agent-img">
                        <img src="~/assetsWeb/img/agents/agent-4.jpg" alt="Image">
                    </div>
                    <div class="agent-info-wrap">
                        <div class="agent-info">
                            <h3><a href="#!">Kunj Bihari Tiwari</a></h3>
                            <span>Direactor</span>
                            <ul class="social-profile list-style style1">
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#!">
                                        <i class="flaticon-linkedin-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="hw-wrap bg-seashell ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style2 text-center mb-40">
                    <span>HOW IT WORKS</span>
                    <h2>3 Steps To Book Your Home</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="200">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="~/assetsWeb/img/how-it-works/hw-shape-1.png" alt="Image" class="hw-shape-one">
                        <img src="~/assetsWeb/img/how-it-works/hw-1.png" alt="Image">
                        <span>01</span>
                    </div>
                    <div class="hw-info">
                        <h3>Search &amp; Select</h3>
                        <p>Effortlessly search and select your ideal property. Our sorting options ensure you find the perfect home with ease. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="300">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="~/assetsWeb/img/how-it-works/hw-shape-1.png" alt="Image" class="hw-shape-one">
                        <img src="~/assetsWeb/img/how-it-works/hw-2.png" alt="Image">
                        <span>02</span>
                    </div>
                    <div class="hw-info">
                        <h3>Reserve The Property</h3>
                        <p>Secure your future today. Reserve your dream property now and take the first step toward the home you've always wanted. </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
                 data-aos-delay="400">
                <div class="hw-card">
                    <div class="hw-img">
                        <img src="~/assetsWeb/img/how-it-works/hw-shape-1.png" alt="Image" class="hw-shape-one">
                        <img src="~/assetsWeb/img/how-it-works/hw-3.png" alt="Image">
                        <span>03</span>
                    </div>
                    <div class="hw-info">
                        <h3>Confirm Reservation</h3>
                        <p>Reservation Confirmed! Your booking is complete. We look forward to welcoming you. Thank you for choosing us!</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="testimonial-wrap style2 ptb-100 bg-seashell">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="section-title style1 text-center mb-40">
                    <h2>What Our Client's Say</h2>
                    <p>OUR CLIENTS ARE IMPORTANT TO US, HERE'S WHAT THEY HAVE TO SAY: </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="testimonial-slider-two owl-carousel">
            <div class="testimonial-card style2">
                <p class="client-quote">
                    I used ABdolphin to sell my property in early 2021. I found ABdolphin to be straight down
                    the line and honest with her approach to selling. I followed her advice and judgment and
                    presented the property as we agreed to give it the best chance of selling. I was very
                    pleasantly surprised when we received a decent strong offer in the first 48 hours of home
                    opens and we accepted the offer. Everything went smoothly and the property sold in 4 weeks.
                    All up start to finish took no more than 6 weeks and that’s because I listened to the advice
                    and was realistic on were the market was at and ABdolphin delivered.
                </p>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="~/assetsWeb/img/clients/user.jpg" alt="Image">
                    </div>
                    <div class="client-info">
                        <h5> Varun Vacchar</h5>
                        @*<span>Director, BAT</span>*@
                    </div>
                    <div class="ratings">
                        <i class="flaticon-star"></i>
                        4.8
                    </div>
                </div>
            </div>
            <div class="testimonial-card style2">
                <p class="client-quote">
                    ABdolphin Homes and her team are a different type of real estate people in India. They are
                    frank, friendly and open. They understand the needs of the customer and advise. They don’t
                    push you to buy the property. Or to say that they’re not behind the commission from the
                    customer at any cost. In one word, they are honest in their approach and dealings. I
                    purchased a villa though them and I am satisfied. Best wishes to them.
                </p>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="~/assetsWeb/img/clients/user.jpg" alt="Image">
                    </div>
                    <div class="client-info">
                        <h5>Fahim</h5>
                        @*<span>Civil Engineer, Olleo</span>*@
                    </div>
                    <div class="ratings">
                        <i class="flaticon-star"></i>
                        4.5
                    </div>
                </div>
            </div>
            <div class="testimonial-card style2">
                <p class="client-quote">
                    ABdolphin has represented us on numerous real estate deals both buying and selling. He has
                    shown right from the start that he is extremely competent in real estate transactions. We
                    loved how he quickly responded to all of our questions as well as his knowledge of the whole
                    process from start to finish. Finally, ABdolphin is very well respected in the real estate
                    community and I think that goes a long way when it comes to negotiations.
                </p>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="~/assetsWeb/img/clients/user.jpg" alt="Image">
                    </div>
                    <div class="client-info">
                        <h5>Khalid</h5>
                        @*<span>Enterpreneur</span>*@
                    </div>
                    <div class="ratings">
                        <i class="flaticon-star"></i>
                        4.5
                    </div>
                </div>
            </div>
            <div class="testimonial-card style2">
                <p class="client-quote">
                    I recently sold a house with ABdolphin and while this can be a very stressful process, I
                    felt 110% confident by partnering with ABdolphin. He was candid, provided great feedback,
                    helped explain clearly all details and managed the actual sale negotiation brilliantly. In
                    addition, he was extremely responsive to every one of my questions, no matter how small. As
                    I move forward to now BUY my next house, I am extremely certain Dave will be the right
                    partner to help me navigate this process.
                </p>
                <div class="client-info-wrap">
                    <div class="client-img">
                        <img src="~/assetsWeb/img/clients/user.jpg" alt="Image">
                    </div>
                    <div class="client-info">
                        <h5>Amit Goyal</h5>
                        @*<span>MD, ITec</span>*@
                    </div>
                    <div class="ratings">
                        <i class="flaticon-star"></i>
                        4.5
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div class="partner-wrap ptb-50">
    <div class="container">
        <div class="section-title style1 text-center mb-40">
            <h2>Brand And Partners</h2>
        </div>
        <div class="partner-slider owl-carousel">
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-1.png" alt="Image">
            </div>
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-2.png" alt="Image">
            </div>
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-3.png" alt="Image">
            </div>
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-4.png" alt="Image">
            </div>
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-5.png" alt="Image">
            </div>
            <div class="partner-item">
                <img src="~/assetsWeb/img/partner/partner-6.png" alt="Image">
            </div>
        </div>
    </div>
</div>*@


<div id="myModal" class="modal fade " role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content secondPopup" style="top:100px">
            <div class="modal-header p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newyear">
                            <img style="width:100%" src="~/assets2/img/AbDolphineOffer.jpeg" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div id="myOffer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="top:100px">
            <div class="modal-header p-0">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body position-relative" id="offerBody">
                <div class="row">
                    <div class="col-md-12 offerContentArea">
                        <div class="text-center">
                            <h1 id="myElem" style="display:none">@ViewBag.BookingId</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


@*===================================================================================*@

<style>
    @@media (max-width:767px) {
        #offerBody {
            height: 383px;
        }
    }

    #offerBody .offerContentArea {
        position: absolute;
        bottom: 15%;
    }

  

    #myElem {
            display: block;
            position: absolute;
            bottom: 10%;
            left: 45%;
        color: #fb9f03;
        font-weight: bold;
        font-size: 66px;
        font-family: inherit;
    }
</style>


<div class="modal fade show" id="signUp" tabindex="-1" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ri-close-line text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center gx-5">
                    <div class="col-md-12">
                        <div class="login-bg bg-f offerContentArea position-relative" style="background-size:100% 100%!important;">
                            <div class="text-center">
                                <h1 id="myElem" style="display:none">@ViewBag.BookingId</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*===========================================================================*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myModal").modal('show');

    });
    $(document).ready(function () {
        $("#signUp").modal('show');
        setTimeout(function () {
            $("#myElem").css("display", "block");
            $("#myElem").fadeIn(1000);
        }, 3500);

    });
</script>
<script>
    function GetDetails() {

        $(".errortext").removeClass("errortext");
        if ($('#SiteTypeID').val() == '0') {
            $("#SiteTypeID").addClass('errortext');
            $('#SiteTypeID').focus();
            return false;
        }
        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        return true;
    }
    function onSiteTypeChange() {
        //  $("#divload").css({ 'display': '' });

        var value = $('#SiteTypeID').val();
        var values = $('#SiteID').val();
        var tr = [];
        $.ajax({
            url: "/Website/GetSiteBySiteType",
            Type: "Get",
            DataType: "JSON",
            data: { SiteTypeID: value },
            success: function (data) {
                var j = 1;

                //   $("#divload").css({ 'display': 'none' });

                $("#SiteID").html(""); // clear before appending new list
                $("#SiteID").empty();
                $("#SiteID").append(
                      $('<option></option>').val(0).html('Select Site'));
                $.each(data.ddlSite, function (index, Sectorcount) {
                    $("#SiteID").append(
                          $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                });

            }
        });
    }
    function onSiteChange() {
        $("#divload").css({ 'display': '' });

        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Website/GetSitesDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                var j = 1;
                if (data.Result == "yes") {
                    $("#divload").css({ 'display': 'none' });
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }

        });

    }
    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Website/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>