@model Dolphin.Models.Website

@{
    ViewBag.Title = "UnitAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ploatArea {
        list-style: none;
        margin: 0px !important;
        padding: 0;
    }

        .ploatArea li {
            position: relative;
            padding-left: 69px;
            color: #000;
        }

            .ploatArea li b {
                position: absolute;
                top: 0px;
                color: #000;
                left: -7px;
            }

            .ploatArea li strong {
                color: #000;
            }

    @@media (max-width:767px) {
        .clearProper {
            width: 100% !important;
            margin-bottom: 15px;
        }
    }
</style>

<!-- .page-title -->
<div class="page-title style-2">
    <div class="tf-container">
        <div class="row justify-center">
            <div class="col-lg-8">
                <div class="content-inner">
                    <div class="heading-title">
                        <h2 class="title">UnitAvailability</h2>
                        <ul class="breadcrumb justify-center">
                            <li><a class="home fw-6 text-color-3" href="/Website/Index">Home</a></li>
                            <li>UnitAvailability</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .page-title -->


@using (Html.BeginForm("UnitAvailability", "Website", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    

    <!-- section-top-map -->
    <section class="section-top-map">
        <div class="wrap-filter">
            <div class="tf-container">
                <div class="row g-3 justify-content-center mb-30">
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex justify-content-between align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                            <div class="ms-2"><b class="text-white">Availability Status</b></div>
                            <div class="font-22 text-primary">
                                <i class="lni lni-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                            <div class="font-22 text-primary">
                                <span class="badge rounded-pill" style="background:#e66b6b">&nbsp;</span>
                            </div>
                            <div class="ms-2 text-white">Booked</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                            <div class="font-22 text-primary">
                                <span class="badge rounded-pill" style="background:#69ce69">&nbsp;</span>
                            </div>
                            <div class="ms-2 text-white">Available</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                            <div class="font-22 text-primary">
                                <span class="badge rounded-pill" style="background:#ffff00">&nbsp;</span>
                            </div>
                            <div class="ms-2 text-white"> On Hold</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                            <div class="font-22 text-primary">
                                <span class="badge rounded-pill" style="background:#e470e4"> &nbsp;</span>
                            </div>
                            <div class="ms-2 text-white">Allotted</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="wg-filter style-2">
                            <div class="form-title style-2">
                                <div class="nice-select" tabindex="0">
                                    @*<span class="current">Select Site Type</span>*@
                                    @Html.DropDownListFor(m => m.SiteTypeID, new SelectList(ViewBag.ddlSiteType, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteTypeChange();" })
                                    @*<ul class="list">
                                        <li data-value class="option selected">Status</li>
                                        <li data-value="bungalow" class="option">Bungalow</li>
                                    </ul>*@
                                </div>
                                <div class="nice-select" tabindex="0">
                                    @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @onchange = "return onSiteChange();" })
                                    @*<span class="current">Select Site</span>
                                    <ul class="list">
                                        <li data-value="1" class="option">Type</li>
                                        <li data-value="bungalow" class="option">Bungalow</li>
                                    </ul>*@
                                </div>
                                <div class="nice-select" tabindex="0">
                                    @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @onchange = "return onSectorChange();" })
                                    @*<span class="current">Select Site Sector</span>
                                    <ul class="list">
                                        <li data-value="" class="option selected focus">Baths</li>
                                        <li data-value="floating" class="option">Floating baths</li>
                                        <li data-value="massage" class="option">Massage baths</li>
                                        <li data-value="floor-standing" class="option">Floor-standing bath</li>
                                        <li data-value="built-in" class="option">Built-in baths</li>
                                    </ul>*@
                                </div>
                                <div class="nice-select" tabindex="0">
                                    @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })
                                    @*<span class="current">Select Block</span>
                                    <ul class="list">
                                        <li data-value="" class="option selected focus">Beds</li>
                                        <li data-value="twin" class="option">Twin beds</li>
                                    </ul>*@
                                </div>
                                <form>
                                    @*<fieldset>*@
                                        @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number" })
                                        @*<input type="text" placeholder="Address, City, ZIP...">*@
                                    @*</fieldset>*@
                                </form>
                                <div class="btn-filter show-form" onclick="ClearFilter()">
                                    <div class="icons">
                                      
                                        @*<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21 4H14" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M10 4H3" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M21 12H12" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M8 12H3" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M21 20H16" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M12 20H3" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M14 2V6" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M8 10V14" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M16 18V22" stroke="#F1913D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>*@ Clear
                                    </div>
                                </div>
                                <div class="wrap-btn">
                                    @*<a href="#" class="tf-btn bg-color-primary pd-3 fw-6" id="btnSearchPlot" onclick="return GetDetails(); ">
                                        Search <i class="icon-MagnifyingGlass fw-6"></i>
                                    </a>*@
                                    <button type="submit" class="tf-btn bg-color-primary pd-3 fw-6" name="Search" value="Search" id="btnSearchPlot" onclick="return GetDetails(); ">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <!-- /section-top-map -->

            <!-- section-property -->
    <section class="section-property tf-spacing-2 ">
        <div class="tf-container">
            <div class="row">

                @if (Model != null)
                {
                    if (Model.lstPlot != null)
                    {
                        foreach (var Item in Model.lstPlot)
                        {

                            <div class="col-md-3 mb-3 px-2">
                                <div class="card bordered rounded-2 text-center shadow-none" style="background: @Item.ColorCSS">
                                    <div class="card-body">
                                        <input type="hidden" value="@Item.PlotID">
                                        <input type="hidden" value="@Item.SiteID">
                                        <input type="hidden" value="@Item.SectorID">
                                        <ul class="ploatArea">
                                            <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">@Item.PlotNumber</strong></li>
                                            <li><b>Plot Area :  </b>  <span>@Item.PlotArea  (@Item.SectorName,@Item.BlockName)</span></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        }
                    }
                }


                @*<div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: #e66b6b">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: greenyellow">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: #e66b6b">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: greenyellow">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: #e66b6b">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: #e66b6b">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: #e66b6b">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 px-2">
                    <div class="card bordered rounded-2 text-center shadow-none" style="background: greenyellow">
                        <div class="card-body">
                            <input type="hidden" value="1">
                            <input type="hidden" value="2">
                            <input type="hidden" value="2">
                            <ul class="ploatArea">
                                <li><b>Plot Number :  </b> <strong class="font-weight-bold d-block">A1</strong></li>
                                <li><b>Plot Area :  </b>  <span>2000.00 Sq/Ft  (Sector 1,Block A)</span></li>

                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
            <!-- /section-property -->

    

}
<script>
    function GetDetails() {

        $(".errortext").removeClass("errortext");
        if ($('#SiteTypeID').val() == '0') {
            $("#SiteTypeID").addClass('errortext');
            $('#SiteTypeID').focus();
            return false;
        }

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        return true;
    }

    function ClearFilter()
    {
        window.location.href = "/Website/UnitAvailability";
    }
    function onSiteTypeChange() {
        //  $("#divload").css({ 'display': '' });

        var value = $('#SiteTypeID').val();
        var values = $('#SiteID').val();
        var tr = [];
        $.ajax({
            url: "/Website/GetSiteBySiteType",
            Type: "Get",
            DataType: "JSON",
            data: { SiteTypeID: value },
            success: function (data) {
                var j = 1;

                //   $("#divload").css({ 'display': 'none' });

                $("#SiteID").html(""); // clear before appending new list
                $("#SiteID").empty();
                $("#SiteID").append(
                      $('<option></option>').val(0).html('Select Site'));
                $.each(data.ddlSite, function (index, Sectorcount) {
                    $("#SiteID").append(
                          $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                });
            }
        });
    }
    function onSiteChange() {
        $("#divload").css({ 'display': '' });

        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Website/GetSitesDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                var j = 1;
                if (data.Result == "yes") {
                    $("#divload").css({ 'display': 'none' });
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }
        });
    }
    function onSectorChange() {

        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Website/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });
            }
        });
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>