@model Dolphin.Models.Master

@{
    ViewBag.Title = "ChangeDesignation";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangeDesignation", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">Change Designation</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Change Designation</h5>
                                    <p style="color: red">
                                        @TempData["ChangeDesignation"]
                                    </p>
                                </div>
                                <div class="card-block">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="float-label">Login Id<span style="color:red">*</span></label><br />
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id" })
                                        </div>
                                        <div class="col-sm-4" style="margin-top:27px;">
                                            <input class="btn btn-success pull-left btn-sm" type="submit" value="Search" id="Search" name="Search" onclick="return validate();" />
                                        </div>
                                    </div>
                                    <input type="hidden" id="LoginId" name="LoginId" value="@ViewBag.LoginId" />
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="float-label">Name</label><br />
                                            <label class="float-label">@ViewBag.Name</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="float-label">Associate</label><br />
                                            <label class="float-label">@ViewBag.AssociateName</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="float-label">Old Designation</label><br />
                                            <label class="float-label">@ViewBag.DesignationName</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <label class="float-label">Change Designation<span style="color:red">*</span></label>
                                            @Html.DropDownListFor(m => m.FK_DesignationId, new SelectList(ViewBag.ddldesignation, "Value", "Text"), new { @class = "form-control" })
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="float-label">Remark<span style="color:red">*</span></label>
                                            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @Placeholder = "Remark" })
                                        </div>
                                        <div class="col-md-4" style="margin-top:27px;">
                                            <a href="javascript:void(0)" class="btn btn-success pull-left" onclick="return validateform();" id="btnUpdate" name="btnUpdate">Update</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>

    function validate() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        return true;
    }

    function validateform() {
        debugger;
        var LoginId = $('#LoginId').val();
        var FK_DesignationId = $('#FK_DesignationId').val();
        var Remark = $('#Remark').val();
        if ($('#FK_DesignationId').val() == '0') {
            $("#FK_DesignationId").addClass('errortext');
            $('#FK_DesignationId').focus();
            return false;
        }
        if ($('#Remark').val() == '') {
            $("#Remark").addClass('errortext');
            $('#Remark').focus();
            return false;
        }
        else {
            $.ajax({
                url: '/Master/UpdateDesignation', type: 'get', dataType: 'json',
                data: { 'LoginId': LoginId, 'FK_DesignationId': FK_DesignationId, 'Remark': Remark },
                success: function (data) {
                    if (data.Result == "1") {
                        alert('Designation Updated Successfully');
                        window.location.href = '/Master/ChangeDesignation';
                    }
                    else {
                        alert(data.Result);
                    }
                }
            });
        }
    }

</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

