@model Dolphin.Models.Master
@{
    ViewBag.Title = "PlotSizeList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("SiteList", "Master", FormMethod.Post, new { @id = "form1" }))
{

    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Plot Size List</h5>
                    <button class="btn btn-primary repeater-add-btn px-4"><a href="/Master/PlotSizeMaster" class="text-white">Add New</a></button>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["PlotSize"]
                </p>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Width Feet</th>
                                <th>Width Inch</th>
                                <th>Height Feet</th>
                                <th>Height Inch</th>
                                <th>Plot Area</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstSite != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstSite)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.WidthFeet</td>
                                            <td>@Item.WidthInch</td>
                                            <td>@Item.HeightFeet</td>
                                            <td>@Item.HeightInch</td>
                                            <td>@Item.PlotArea</td>
                                            <td>
                                                <a href="/Master/PlotSizeMaster?plotSizeID=@Item.EncryptKey" class="btn btn-info btn-sm">Edit</a>
                                                <a href="/Master/DeletePlotSize?id=@Item.PlotSizeID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you wish to delete this Plot Size?');">Delete</a>
                                            </td>

                                        </tr>
                                        i++;
                                    }

                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Width Feet</th>
                                <th>Width Inch</th>
                                <th>Height Feet</th>
                                <th>Height Inch</th>
                                <th>Plot Area</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>


    </div>



}

