@model Dolphin.Models.Customer
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("CustomerList", "Customer", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Customer List</h5>
                    <button class="btn btn-primary repeater-add-btn px-4"><a href="/Customer/CustomerRegistration" class="text-white">Add New</a></button>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["Registration"]
                    @TempData["BlockUnblock"]
                </p>
            </div>
        </div>

        <div class="items">
            <div class="card">
                <div class="card-body row">
                    <form>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Customer LoginId</label>
                            @Html.TextBoxFor(m => m.CustomerLoginID, new { @class = "form-control", @Placeholder = "Customer LoginID" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Customer Name </label>
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @Placeholder = "Customer Name" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Mobile Number</label>
                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @Placeholder = "Mobile Number" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Affiliate LoginId</label>
                            @Html.TextBoxFor(m => m.AssociateID, new { @class = "form-control", @Placeholder = "Search by AffiliateID" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Affiliate Name</label>
                            @Html.TextBoxFor(m => m.AssociateName, new { @class = "form-control", @Placeholder = "Affiliate Name" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Joining From Date</label>
                            @Html.TextBoxFor(m => m.JoiningFromDate, new { @class = "form-control", @Placeholder = "From Date" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">Joining To Date</label>
                            @Html.TextBoxFor(m => m.JoiningToDate, new { @class = "form-control", @Placeholder = "To Date" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="float-label d-block">&nbsp;</label>
                            <input class="btn btn-success" type="submit" value="Search" id="btnSearchCustomer" name="btnSearchCustomer" />
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <h6 class="mb-0">Customer Data List</h6>
        <hr />
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="customerData" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Password</th>
                                <th>Branch</th>
                                <th>Affiliate ID</th>
                                <th>Affiliate Name</th>
                                <th>JoiningDate</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Pan</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.ListCust != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.ListCust)
                                    {
                                        <tr class="text-left">

                                            <td>@i</td>
                                            <td>@Item.AssociateID</td>
                                            <td>@Item.AssociateName</td>
                                            <td>@Item.Password</td>
                                            <td>@Item.BranchName</td>
                                            <td>@Item.SponsorID  </td>
                                            <td>@Item.SponsorName </td>
                                            <td>@Item.JoiningDate</td>
                                            <td>@Item.Contact</td>
                                            <td>@Item.Email</td>
                                            <td>@Item.PanNo</td>
                                            <td>
                                                <a href="/Customer/CustomerRegistration?UserID=@Item.EncryptKey" class="btn btn-info btn-sm">Edit</a>
                                                <a href="/Customer/Delete?UserID=@Item.UserID" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this Customer?');">Delete</a>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Password</th>
                                <th>Branch</th>
                                <th>Affiliate ID</th>
                                <th>Affiliate Name</th>
                                <th>JoiningDate</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Pan</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>


    </div>

}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>


    $('#JoiningFromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $('#JoiningToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    $(document).ready(function () {
        var table = $('#customerData').DataTable({
            lengthChange: false,
            "pageLength": 50,
            buttons: ['copy', 'excel', 'pdf', 'print', 'csv']
        });

        table.buttons().container()
            .appendTo('#customerData_wrapper .col-md-6:eq(0)');
    });
</script>


