@model Dolphin.Models.Master

@{
    ViewBag.Title = "DetailsPlotAvailabilityReports";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<style>
    .ploatArea {
        list-style: none;
        margin: 0px !important;
        padding: 0;
    }

        .ploatArea li {
            position: relative;
            padding-left: 69px;
        }

            .ploatArea li b {
                position: absolute;
                left: 0px;
                top: 0px;
            }

    .errortext {
        border: 1px solid red !important;
    }
</style>
@using (Html.BeginForm("DetailsPlotAvailabilityReports", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{



    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Details Plot Availability Reports</h5>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 mb-3">
                            <div class="form-group">
                                <label>  Select Site Type <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.SiteTypeID, new SelectList(ViewBag.ddlSiteType, "Value", "Text"), new { @class = "form-control form-select", @onchange = "return onSiteTypeChange();" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>   Select Site <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control form-select", @onchange = "return onSiteChange();" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label> Select Sector</label>
                                @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control form-select", @onchange = "return onSectorChange();" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>   Select Block</label>
                                @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control form-select" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label> Plot Number</label>
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="d-block"> &nbsp;</label>
                            <div class="form-group">
                                <input type="submit" name="Search" value="Search" id="btnSearchPlot" class="btn btn-success" onclick="return GetDetails(); " />
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 row-cols-xl-5 g-3">
                        <div class="col" tabindex="1">
                            <div class="d-flex justify-content-between align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                                <div class="ms-2"><b>Availability Status</b></div>
                                <div class="font-22 text-primary">
                                    <i class="lni lni-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col" tabindex="2">
                            <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                                <div class="font-22 text-primary">
                                    <span class="badge rounded-pill" style="background:#e66b6b">&nbsp;</span>
                                </div>
                                <div class="ms-2">Booked</div>
                            </div>
                        </div>
                        <div class="col" tabindex="3">
                            <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                                <div class="font-22 text-primary">
                                    <span class="badge rounded-pill" style="background:#69ce69">&nbsp;</span>
                                </div>
                                <div class="ms-2">Available</div>
                            </div>
                        </div>
                        <div class="col" tabindex="4">
                            <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                                <div class="font-22 text-primary">
                                    <span class="badge rounded-pill" style="background:#ffff00">&nbsp;</span>
                                </div>
                                <div class="ms-2"> On Hold</div>
                            </div>
                        </div>
                        <div class="col" tabindex="5">
                            <div class="d-flex align-items-center theme-icons shadow-sm p-2 cursor-pointer rounded">
                                <div class="font-22 text-primary">
                                    <span class="badge rounded-pill" style="background:#e470e4"> &nbsp;</span>
                                </div>
                                <div class="ms-2">Allotted</div>
                            </div>
                        </div>
                        
                    </div>






                    <div class="row g-1 mt-4">

                        @if (Model != null)
                        {
                            if (Model.lstPlot != null)
                            {
                                foreach (var Item in Model.lstPlot)
                                {
                                    if (Item.PlotStatus == "B")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <div class="card border mb-0 rounded-2 text-center shadow-none" style="background: @Item.ColorCSS">
                                                <div class="card-body">
                                                    <input type="hidden" value="@Item.PlotID" />
                                                    <input type="hidden" value="@Item.SiteID" />
                                                    <input type="hidden" value="@Item.SectorID" />

                                                    <ul class="ploatArea">
                                                        <li><b>Plot Number :</b> <strong class="font-weight-bold d-block">@Item.PlotNumber</strong></li>
                                                        <li><b>Plot Area : </b> <span>@Item.PlotArea (@Item.SectorName,@Item.BlockName)</span></li>
                                                        <li><b>Customer  : </b> <span>@Item.CustomerName</span></li>
                                                        <li><b>Associate : </b> <span>@Item.AssociateName</span></li>
                                                        <li><b>Booked Date : </b> <span>@Item.BookingDate</span></li>
                                                        <li><b>Total Paid  : </b> <span>@Item.TotalPaidAmount</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (Item.PlotStatus =="H")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <div class="card border mb-0 rounded-2 text-center shadow-none" style="background: @Item.ColorCSS">
                                                <div class="card-body">
                                                    <input type="hidden" value="@Item.PlotID" />
                                                    <input type="hidden" value="@Item.SiteID" />
                                                    <input type="hidden" value="@Item.SectorID" />

                                                    <ul class="ploatArea">
                                                        <li><b>Plot Number :</b> <strong class="font-weight-bold d-block">@Item.PlotNumber</strong></li>
                                                        <li><b>Plot Area : </b> <span>@Item.PlotArea (@Item.SectorName,@Item.BlockName)</span></li>
                                                        <li><b>Holder Name : </b> <span>@Item.HolderName</span></li>
                                                        <li><b>Hold From : </b> <span>@Item.HoldFrom</span></li>
                                                        <li><b>Hold To : </b> <span>@Item.HoldTo</span></li>
                                                        <li><b>Remark : </b> <span>@Item.Remark</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-lg-4">
                                            <div class="card border mb-0 rounded-2 text-center shadow-none" style="background: @Item.ColorCSS">
                                                <div class="card-body">
                                                    <input type="hidden" value="@Item.PlotID" />
                                                    <input type="hidden" value="@Item.SiteID" />
                                                    <input type="hidden" value="@Item.SectorID" />

                                                    <ul class="ploatArea">
                                                        <li><b>Plot Number :</b> <strong class="font-weight-bold d-block">@Item.PlotNumber</strong></li>
                                                        <li><b>Plot Area : </b> <span>@Item.PlotArea (@Item.SectorName,@Item.BlockName)</span></li>
                                                        <li><b>Customer : </b> <span>@Item.CustomerName</span></li>
                                                        <li><b>Associate : </b> <span>@Item.AssociateName</span></li>
                                                        <li><b>Booked Date : </b> <span>@Item.BookingDate</span></li>
                                                        <li><b>Total Paid : </b> <span>@Item.TotalPaidAmount</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });

    function GetDetails() {

        $(".errortext").removeClass("errortext");
        if ($('#SiteTypeID').val() == '0') {
            $("#SiteTypeID").addClass('errortext');
            $('#SiteTypeID').focus();
            return false;
        }

        if ($('#SiteID').val() == '0') {
            $("#SiteID").addClass('errortext');
            $('#SiteID').focus();
            return false;
        }
        return true;
    }

    function onSiteTypeChange() {
      //  $("#divload").css({ 'display': '' });

        var value = $('#SiteTypeID').val();
        var values = $('#SiteID').val();
        var tr = [];
        $.ajax({
            url: "/AdminReports/GetSiteBySiteType",
            Type: "Get",
            DataType: "JSON",
            data: { SiteTypeID: value },
            success: function (data) {
                var j = 1;

                    //   $("#divload").css({ 'display': 'none' });

                    $("#SiteID").html(""); // clear before appending new list
                    $("#SiteID").empty();
                    $("#SiteID").append(
                          $('<option></option>').val(0).html('Select Site'));
                    $.each(data.ddlSite, function (index, Sectorcount) {
                        $("#SiteID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });

            }

        });

    }
    function onSiteChange() {
        $("#divload").css({ 'display': '' });

        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Master/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {
                var j = 1;
                if (data.Result == "yes") {
                    $("#divload").css({ 'display': 'none' });
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }
            }

        });

    }
    function onSectorChange() {
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Master/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>


