@model Dolphin.Models.Reports

@{
    ViewBag.Title = "DirectUserReward";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("DirectUserReward", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{
    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">User Rewards</h5>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-3 mb-3">
                            <label class="float-label">LoginId</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "LoginId" })
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="d-block">  &nbsp;</label>
                            <input class="btn btn-success pull-left" type="submit" value="Search" id="btnSearch" name="btnSearch" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                <th>Login Details</th>
                                <th>Reward</th>
                                <th>Total Business</th>
                                <th>Target</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstP != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstP)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            <td>@Item.LoginId</td>
                                            <td>
                                                <img src="@Item.RewardImage" height="100" width="100" />
                                                <br />@Item.RewardName
                                            </td>
                                            <td>@Item.BookingAmount</td>
                                            <td>@Item.Target</td>
                                        </tr>
                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
