@model Dolphin.Models.Plot

@{
    ViewBag.Title = "PaymentReturn";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .errortext {
        border: 1px solid red !important;
    }
</style>
@using (Html.BeginForm("PaymentReturn", "AdminReports", FormMethod.Post, new { @id = "form1" }))
{


    @*<div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header table-card-header">
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                Booking Number
                                                @/*Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @/*Placeholder*/ = "Booking Number" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                Select Site
                                                @/*Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control", @/*onchange*/ = "return onSiteChange();" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                Select Sector
                                                @/*Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control", @/*onchange*/ = "return onSectorChange();" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                Select Block
                                                @/*Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                Plot Number
                                                @/*Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @/*Placeholder*/ = "PlotNumber" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <br />
                                                <input class="btn btn-success" type="submit" value="Search" id="btnSearch" onclick="return Validate();" name="btnSearch" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="form-group row">
                                        <div class="col-sm-3">
                                            <label class="float-labelv text-danger">Paid Amount:</label>
                                            <span class="form-bar " style="color:darkblue"><b>@/*ViewBag.Balance*/</b></span>
                                            <input type="hidden" id="Balance" value="@/*ViewBag.Balance*/" />
                                        </div>
                                    </div>
                                    <div class="form-group row" id="paymentdiv" style="display:none;">
                                        <div class="col-md-3">
                                            <label class="float-label">Return Amount<span style="color:red">*</span></label>
                                            @/*Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @/*Placeholder*/ = "Enter Amount", @/*onkeypress*/ = "return isNumberOrDecimal(event);", @/*onchange*/ = "return Check();" })*/
                                            <span class="form-bar"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                Payment Mode <span style="color: red">*</span>
                                                @/*Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @/*onchange*/ = "return CheckPayMode()" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divtransactiono" style="display: none">
                                            <div class="form-group">
                                                <span id="txnNo"></span> <span style="color: red">*</span>
                                                @/*Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @/*Placeholder*/ = "Mobile Number", @/*maxlength*/ = "50" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divPaymentMode" style="display: none">
                                            <div class="form-group">
                                                <span id="txndt"></span><span style="color: red">*</span>
                                                @/*Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @/*Placeholder*/ = "Date", @/*Readonly*/ = "readonly" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divbankname" style="display: none">
                                            <div class="form-group">
                                                Bank Name <span style="color: red">*</span>
                                                @/*Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @/*maxlength*/ = "100", @/*Placeholder*/ = "Bank Name" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3" id="divbankbranch" style="display: none">
                                            <div class="form-group">
                                                Bank Branch <span style="color: red">*</span>
                                                @/*Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @/*maxlength*/ = "100", @/*Placeholder*/ = "Bank Branch" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <span id="txtpremarks">Payment Remarks</span>
                                                @/*Html.TextBoxFor(m => m.PaymentRemarks, new { @class = "form-control", @/*maxlength*/ = "100", @/*Placeholder*/ = "Payment Remarks" })*/
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <input class="btn btn-success pull-left" type="submit" onclick="return ValidateTransfer();" value="Save" id="btnSave" name="btnSave" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Payment Return</h5>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["Plot"]
                </p>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body row">
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label> Booking Number</label>
                            @Html.TextBoxFor(m => m.BookingNumber, new { @class = "form-control", @Placeholder = "Booking Number" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label> Select Site</label>
                            @Html.DropDownListFor(m => m.SiteID, new SelectList(ViewBag.ddlSite, "Value", "Text"), new { @class = "form-control form-select", @onchange = "return onSiteChange();" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label> Select Sector</label>
                            @Html.DropDownListFor(m => m.SectorID, new SelectList(ViewBag.ddlSector, "Value", "Text"), new { @class = "form-control form-select", @onchange = "return onSectorChange();" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label>  Select Block</label>
                            @Html.DropDownListFor(m => m.BlockID, new SelectList(ViewBag.ddlBlock, "Value", "Text"), new { @class = "form-control form-select" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label>  Plot Number</label>
                            @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @Placeholder = "PlotNumber" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="d-block">&nbsp;</label>
                            <input class="btn btn-success" type="submit" value="Search" id="btnSearch" onclick="return Validate();" name="btnSearch" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label class="float-labelv text-danger">Paid Amount:</label>
                            <span class="form-bar " style="color:darkblue"><b>@ViewBag.Balance</b></span>
                            <input type="hidden" id="Balance" value="@ViewBag.Balance" />
                        </div>
                    </div>
                    <div class="form-group row" id="paymentdiv" style="display:none;">
                        <div class="col-md-3 mb-3">
                            <label class="float-label">Return Amount<span style="color:red">*</span></label>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Enter Amount", @onkeypress = "return isNumberOrDecimal(event);", @onchange = "return Check();" })
                            <span class="form-bar"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label> Payment Mode <span style="color: red">*</span></label>
                                @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlPaymentMode, "Value", "Text"), new { @class = "form-control", @onchange = "return CheckPayMode()" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3" id="divtransactiono" style="display: none">
                            <div class="form-group">
                                <label>    <span id="txnNo"></span> <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.TransactionNumber, new { @class = "form-control", @Placeholder = "Mobile Number", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3" id="divPaymentMode" style="display: none">
                            <div class="form-group">
                                <label>  <span id="txndt"></span><span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.TransactionDate, new { @class = "form-control", @Placeholder = "Date", @Readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3" id="divbankname" style="display: none">
                            <div class="form-group">
                                <label> Bank Name <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Name" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3" id="divbankbranch" style="display: none">
                            <div class="form-group">
                                <label>  Bank Branch <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @maxlength = "100", @Placeholder = "Bank Branch" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>  <span id="txtpremarks">Payment Remarks</span></label>
                                @Html.TextBoxFor(m => m.PaymentRemarks, new { @class = "form-control", @maxlength = "100", @Placeholder = "Payment Remarks" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <label class="d-block">&nbsp;</label>
                            <input class="btn btn-success pull-left" type="submit" onclick="return ValidateTransfer();" value="Save" id="btnSave" name="btnSave" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
        if ($('#Balance').val() == '' || $('#Balance').val() == '0')
        {
            $("#paymentdiv").hide();
        }
        else
        {
            $("#paymentdiv").show();
        }
    });
    function isNumberOrDecimal(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function Validate() {
        debugger
        $("#paymentdiv").show();
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass("errortext");
        if ($('#PlotNumber').val() == '' && $('#BookingNumber').val() == '') {
            alert(" Please, either select Site ID, Sector ID, Block ID and fill Plot Number OR fill Booking Number");
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    function Check() {
        var Balance = $("#Balance").val();
        var Amount = $("#Amount").val();
        if(Number(Amount)>Number(Balance))
        {
            alert('You can not enter amount greater than Total Paid amount')
            $("#Amount").val('');
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
    }
    function ValidateTransfer() {
        $("#divload").css({ 'display': 'none' });
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if ($('#PaymentMode').val() == '0') {
            $("#PaymentMode").addClass('errortext');
            $('#PaymentMode').focus();
            $("#divload").css({ 'display': 'none' });
            return false;
        }
        //if ($('#FK_AccountHeadId').val() == '0') {
        //    $("#FK_AccountHeadId").addClass('errortext');
        //    $('#FK_AccountHeadId').focus();
        //    $("#divload").css({ 'display': 'none' });
        //    return false;
        //}

        if ($('#PaymentMode').val() == '2') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '3') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '4') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '5') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '6') {
            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '7') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }

        }
        else if ($('#PaymentMode').val() == '8') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '9') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '10') {

            if ($('#TransactionNumber').val() == '') {
                $("#TransactionNumber").addClass('errortext');
                $('#TransactionNumber').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#TransactionDate').val() == '') {
                $("#TransactionDate").addClass('errortext');
                $('#TransactionDate').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        else if ($('#PaymentMode').val() == '11') {
            if ($('#PaymentRemarks').val() == '') {
                $("#PaymentRemarks").addClass('errortext');
                $('#PaymentRemarks').focus();
                $("#divload").css({ 'display': 'none' });
                return false;
            }
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
    function CheckPayMode() {
        if ($('#PaymentMode').val() == '2') {
            $('#txnNo').html('Cheque No.');
            $('#txndt').html('Cheque Date');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#divadjustpayment").hide();
            $("#divreceiver").show();
            $("#TransactionNumber").attr("placeholder", "Cheque No.");
            $("#TransactionDate").attr("placeholder", "Cheque Date");
        }
        else if ($('#PaymentMode').val() == '3') {
            $('#txndt').html('NEFT Date');
            $('#txnNo').text('NEFT No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#divadjustpayment").hide();
            $("#divreceiver").show();
            $("#TransactionNumber").attr("placeholder", "NEFT No.");
            $("#TransactionDate").attr("placeholder", "NEFT Date");
        }
        else if ($('#PaymentMode').val() == '4') {
            $('#txndt').html('DD Date');
            $('#txnNo').text('DD No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#divreceiver").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "DD No.");
            $("#TransactionDate").attr("placeholder", "DD Date");
        }
        else if ($('#PaymentMode').val() == '5') {
            $('#txndt').html('RTGS Date');
            $('#txnNo').text('RTGS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#divreceiver").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "RTGS No.");
            $("#TransactionDate").attr("placeholder", "RTGS Date");
        }
        else if ($('#PaymentMode').val() == '6') {
            $('#txndt').html('IMPS Date');
            $('#txnNo').text('IMPS No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divreceiver").show();
            $("#divbankbranch").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "IMPS No.");
            $("#TransactionDate").attr("placeholder", "IMPS Date");
        }
        else if ($('#PaymentMode').val() == '7') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divreceiver").show();
            $("#divPaymentMode").hide();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '8') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#divreceiver").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '9') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divPaymentMode").hide();
            $("#divreceiver").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else if ($('#PaymentMode').val() == '10') {

            $('#txndt').html('Expiry Date');
            $('#txnNo').text('Card No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").show();
            $("#divbankbranch").show();
            $("#divreceiver").show();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "Card No.");
            $("#TransactionDate").attr("placeholder", "Expiry Date");
        }
        else if ($('#PaymentMode').val() == '11') {

            $('#txtpremarks').html('Payment Remarks');
            //$('#txnNo').text('Card No.');
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divreceiver").show();
            $("#divadjustpayment").show();
            $("#PaymentRemarks").attr("placeholder", "Payment Remarks");
        }
        else if ($('#PaymentMode').val() == '13') {

            $('#txnNo').text('Mobile No.');
            $("#divPaymentMode").show();
            $("#divtransactiono").show();
            $("#divbankname").hide();
            $("#divbankbranch").hide();
            $("#divreceiver").show();
            $("#divPaymentMode").hide();
            $("#divadjustpayment").hide();
            $("#TransactionNumber").attr("placeholder", "Mobile No.");
        }
        else {
            $("#divPaymentMode").hide();
            $("#divtransactiono").hide();
            $("#divbankname").hide();
            $("#divreceiver").hide();
            $("#divadjustpayment").hide();
            $("#divbankbranch").hide();
        }

    }
    $('#TransactionDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
        minDate: new Date(new Date().setMonth(new Date().getMonth() - 2))
    });
    function onSiteChange() {
        $("#divload").css({ 'display': '' });
        var value = $('#SiteID').val();
        var values = $('#SectorID').val();
        var tr = [];
        $.ajax({
            url: "/Plot/GetSiteDetails",
            Type: "Get",
            DataType: "JSON",
            data: { SiteID: value },
            success: function (data) {

                $("#divload").css({ 'display': 'none' });
                var j = 1;
                if (data.Result == "yes") {
                    $('#Rate').val(data.Rate);
                    $("#SectorID").html(""); // clear before appending new list
                    $("#SectorID").empty();
                    $("#SectorID").append(
                          $('<option></option>').val(0).html('Select Sector'));
                    $.each(data.ddlSector, function (index, Sectorcount) {
                        $("#SectorID").append(
                              $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));

                    });

                }
                else {
                    $("#SectorID").empty();
                    $('#Rate').val('');
                }


            }

        });

    }
    function onSectorChange() {
        $("#divload").css({ 'display': '' });
        var siteID = $('#SiteID').val();
        var sectorID = $('#SectorID').val();
        $.ajax({
            url: '/Plot/GetBlockList', type: 'post', dataType: 'json',
            data: { 'SiteID': siteID, 'sectorID': sectorID },
            success: function (data) {
                $("#divload").css({ 'display': 'none' });
                $("#BlockID").html(""); // clear before appending new list
                $("#BlockID").empty();
                $("#BlockID").append(
                      $('<option></option>').val(0).html('Select Block'));
                $.each(data.lstBlock, function (index, BlockCount) {
                    $("#BlockID").append(
                          $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
                });

            }

        });
    }
    //function onTransferSiteChange() {
    //    $("#divload").css({ 'display': '' });
    //    var value = $('#TSiteID').val();
    //    var values = $('#TSectorID').val();
    //    var tr = [];
    //    $.ajax({
    //        url: "/Plot/GetSiteDetails",
    //        Type: "Get",
    //        DataType: "JSON",
    //        data: { SiteID: value },
    //        success: function (data) {
    //            $("#divload").css({ 'display': 'none' });
    //            var j = 1;
    //            if (data.Result == "yes") {
    //                $("#TSectorID").html(""); // clear before appending new list
    //                $("#TSectorID").empty();
    //                $("#TSectorID").append(
    //                      $('<option></option>').val(0).html('Select Sector'));
    //                $.each(data.ddlSector, function (index, Sectorcount) {
    //                    $("#TSectorID").append(
    //                          $('<option></option>').val(Sectorcount.Value).html(Sectorcount.Text));
    //                });
    //            }
    //            else {
    //                $("#TSectorID").empty();
    //            }


    //        }

    //    });

    //}
    //function onTransferSectorChange() {
    //    $("#divload").css({ 'display': '' });
    //    var TsiteID = $('#TSiteID').val();
    //    var TsectorID = $('#TSectorID').val();
    //    $.ajax({
    //        url: '/Plot/GetBlockList', type: 'post', dataType: 'json',
    //        data: { 'SiteID': TsiteID, 'sectorID': TsectorID },
    //        success: function (data) {
    //            $("#divload").css({ 'display': 'none' });
    //            $("#TBlockID").html(""); // clear before appending new list
    //            $("#TBlockID").empty();
    //            $("#TBlockID").append(
    //                  $('<option></option>').val(0).html('Select Block'));
    //            $.each(data.lstBlock, function (index, BlockCount) {
    //                $("#TBlockID").append(
    //                      $('<option></option>').val(BlockCount.Value).html(BlockCount.Text));
    //            });

    //        }

    //    });
    //}
</script>
