@model Dolphin.Models.Reports

@{
    ViewBag.Title = "PromoterBussinesslist";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("PromoterBussinesslist", "AdminReports", FormMethod.Post, new { @id = "form1", @autocomplete = "off" }))
{

    <div class="page-content">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Promoter Bussiness List</h5>
                </div>
                <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                    @TempData["prmMSg"]
                </p>
            </div>
        </div>
        <div class="items">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>Select Promoter</label>
                                @Html.DropDownListFor(m => m.LoginId, new SelectList(ViewBag.ddlPromoter, "Value", "Text"), new { @class = "form-control form-select" })
                            </div>
                        </div>
                        @*<div class="col-md-3 mb-3">
                                <div class="form-group">
                                    <label>Down LoginId</label>
                                    @Html.TextBoxFor(m => m.AssociateLoginID, new { @class = "form-control", @placeholder = "Down LoginId" })
                                </div>
                            </div>*@
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label> From Date</label>
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @readonly = "ds", @placeholder = "DD/MM/YYYY" })
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-group">
                                <label>  To Date</label>
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @readonly = "ds", @placeholder = "DD/MM/YYYY" })
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="form-group">
                                <label class="d-block">  &nbsp;</label>
                                <input class="btn btn-success" type="submit" value="Search" id="btnSearch" name="btnSearch" onclick="return validateform()" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-active">
                                <th>Sr No.</th>
                                @*<th hidden>Pk_DownPromId</th>*@
                                <th>Associate Deatils</th>
                                <th>Bussiness Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstpromoterbusiness != null)
                                {
                                    int i = 1;
                                    foreach (var Item in Model.lstpromoterbusiness)
                                    {
                                        <tr class="text-left">
                                            <td>@i</td>
                                            @*<td hidden>@Item.Pk_PromoterId</td>*@
                                            <td>@Item.LoginId</td>
                                            <td>@Item.TotalAllotmentAmount</td>
                                            <td>
                                                <a href="#@Item.Fk_UserId" class="btn btn-primary btn-sm" onclick="OpenLedger('@Item.Fk_UserId');">View Business</a>
                                            </td>
                                        </tr>

                                        i++;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    	<!-- Modal -->
    @Html.HiddenFor(m => m.Fk_UserId)
    <div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Business Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="tblData">
                                    <thead>
                                        <tr>
                                            <th>LoginId</th>
                                            <th>Name</th>
                                            <th>Business</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    function OpenLedger(Fk_UserId) {
        $("#Fk_UserId").val(Fk_UserId);
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: "/AdminReports/GetDownLineBusinesspromoter",
            Type: "Get",
            DataType: "JSON",
            data: { Fk_UserId: $("#Fk_UserId").val(), FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val() },
            success: function (data) {
                console.log(data)
                debugger
                $('#tblData').find("tr:not(:first)").remove();
                if (data.lstDownLineBusiness != null && data.lstDownLineBusiness.length > 0) {
                    for (var i = 0; i < data.lstDownLineBusiness.length; i++) {
                        $("#tblData").append('<tbody><tr><td id="LoginId' + i + ' " >' + data.lstDownLineBusiness[i].LoginId +
                            '</td><td id="Name' + i + ' " >' + data.lstDownLineBusiness[i].Name +
                             '</td><td id="Business' + i + ' " >' + data.lstDownLineBusiness[i].Business +
                            '</td></tr></tbody>')
                    }
                    $("#exampleVerticallycenteredModal").modal('show');
                }
                else {
                    alert('No record found !!')
                }
            }
        });

    }

    function closeModal() {
        $("#myModal").hide();
        $("#divload").css({ 'display': '' });
        //$('body').removeClass().removeAttr('style'); $('.modal-backdrop').remove();
    }



    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '0') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
    }

    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true,
    });
</script>

<style>
    .errortext{
        background-color:#fbbfbf!important;
        border:red!important;
    }
</style>
